<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Entretenimiento</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="reservas-bg">

  <header class="reservas-header">
    <div>
      <h1 class="reservas-title">Entretenimiento</h1>
      <p class="reservas-subtitle">Crucero: {{ crucero|title }}</p>
    </div>
    <div class="user-info">
      <a href="{% url 'reservas' %}">
        <button class="btn-primary">⬅ Volver a Reservas</button>
      </a>
    </div>
  </header>

  <div class="reservas-grid">
    {% for act in actividades %}
      <div class="reserva-card opcion">
        <h3>{{ act.nombre }}</h3>
        <p>{{ act.descripcion }}</p>
        <p>Precio:${{act.precio}}
        <p>Día {{ act.dia }}</p>
        <a href="{% url 'reservar_entretenimiento' crucero act.id %}">
          <button class="btn-primary">Reservar</button>
        </a>
      </div>
    {% empty %}
      <p style="color:white;">No hay actividades disponibles.</p>
    {% endfor %}
  </div>

</body>
</html>
