
{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Panel de Control - Servicio Médico{% endblock %}

{% block content %}
 <!-- Contenido específico para el panel de personal médico -->
    <main class="main-content">
        <header class="main-header">
            <h1>Panel de Personal Médico</h1>
        </header>
  </main>
  <div class="#">
    <h2>Bienvenido al Panel de Personal Médico</h2>
    <p>Aquí puedes gestionar las solicitudes de medicamentos, ver el historial médico de los pasajeros y más.</p>
  </div>
  <div class = "container">
      <h2> Crear Historial Medico</h2>
      <button class="btn btn-primary" onclick="location.href='{% url 'agregar_historial' %}'">Agregar Historial Médico</button>

  </div>
  <div class="container">
    <h2> Ver Historiales Medicos</h2>
    <button class="btn btn-primary" onclick="location.href='{% url 'historial_medico' %}'">Ver Historial Médico</button>
  </div>
  <div class ="container">
    <h2> Cuartos disponibles </h2>
    <table class="table">
      <thead>
        <tr>
          <th>Número de Cuarto</th>
          <th>Estado</th>
          <th>Paciente</th>
        </tr>
      </thead>
      <tbody>
        {% for cuarto in cuartos %}
        <tr>
          <td>{{ cuarto.numero }}</td>
          <td>{{ cuarto.get_estado_display }}</td>
          <td>
            {% if cuarto.estado == 'O' and cuarto.paciente %}
              {{ cuarto.paciente.nombres }} {{ cuarto.paciente.primer_apellido }}
            {% else %}
              -
            {% endif %}
          </td>
        </tr>
        {% empty %}
        <tr><td colspan="3">No hay cuartos disponibles.</td></tr>
        {% endfor %}
      </tbody>
    </table>
    <button class="btn btn-primary" onclick="location.href='{% url 'modificar_cuarto' %}'">Modificar Cuartos</button>
  </div>
  <div class = "container">
    <h2> Inventario </h2>
    <button class="btn btn-primary" onclick="location.href='{% url 'panel_inventario' %}'">Ver Inventario</button>
  </div>
  <div class = "container">
    
  </div>
  <div>
    <h2> Avisos de solicitud de Medicamento</h2>

  </div>
  <div class = "container">
    <h2> Comunicación con Mantenimiento </h2>
    <button class="btn btn-primary" onclick="location.href='{% url 'comunicacion_mantenimiento' %}'">Contactar Mantenimiento</button>
{% endblock %}