{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cruceros</title>
    <link rel="stylesheet" href="{% static 'Css/ListaCruceros.css' %}">
</head>
<body>
    <div class="container-cruceros">

        <div class="header-cruceros">
            <h1 class="titulo-seccion">Cruceros</h1>
            <p class="subtitulo-seccion">Gestión y control de cruceros registrados</p>
        </div>

        <div class="btn-agregar-crucero">
            <a href="{% url 'crucero_creacion_rapida' %}">
                <button class="btn">Crear Crucero</button>
            </a>
        </div>

        <div class="tarjetas-cruceros">
            {% for crucero in cruceros %}
            <a href="{% url 'crucero_editar' crucero.pk %}" class="tarjeta-crucero-link">
                <div class="tarjeta-crucero">
                    <div class="icono-crucero">
                        {% if crucero.foto_barco %}
                            <img src="{{ crucero.foto_barco.url }}" alt="{{ crucero.nombre }}">
                        {% else %}
                            <img src="{% static 'Images/CruceroPredeterminado.png' %}" alt="Crucero">
                        {% endif %}
                    </div>
                    <div class="info-crucero">
                        <h2 class="nombre-crucero">{{ crucero.nombre }}</h2>
                        <p><strong>Tipo:</strong> {{ crucero.get_tipo_crucero_display }}</p>
                        <p><strong>Código:</strong> {{ crucero.codigo_identificacion }}</p>
                        <p><strong>Pasajeros:</strong> {{ crucero.capacidad_pasajeros }}</p>
                        <p><strong>Tripulación:</strong> {{ crucero.capacidad_tripulacion }}</p>
                        <p><strong>Bandera:</strong> {{ crucero.bandera }}</p>
                        <p><strong>Puerto Base:</strong> {{ crucero.puerto_base }}</p>
                        <p><strong>Estado:</strong> {{ crucero.get_estado_operativo_display }}</p>
                    </div>
                </div>
            </a>
            {% empty %}
            <div class="sin-cruceros">No hay cruceros registrados.</div>
            {% endfor %}
        </div>
    </div>
</body>
</html>

