{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Embarcaciones</title>
    <link rel="stylesheet" href="{% static 'Css/ListaCruceros.css' %}">
</head>
<body>
    <div class="container-cruceros">
        <div class="header-cruceros">
            <h1 class="titulo-seccion">Embarcaciones</h1>
            <p class="subtitulo-seccion">Gestión y control de embarcaciones registradas</p>
        </div>

        <div class="sistema-fecha">
            <div class="sistema-fecha__info">
                <span class="sistema-fecha__label">Fecha del sistema:</span>
                <span class="sistema-fecha__valor">{{ fecha_sistema }}</span>
            </div>
           
        </div>

        <div class="cruceros-list__actions">
            <a href="{% url 'creador_embarcaciones:home' %}" class="cruceros-list__btn cruceros-list__btn--nuevo">Crear Embarcación</a>
        </div>

    <div class="tarjetas-cruceros">
            {% for crucero in cruceros %}
            <a href="{% url 'gestion_crucero' crucero.id %}" class="tarjeta-crucero-link">
                <div class="tarjeta-crucero">
                    <div class="icono-crucero">
                        <img src="{% static 'Images/CruceroPredeterminado.png' %}" alt="Embarcación">
                    </div>
                    <div class="info-crucero">
                        <h2 class="nombre-crucero">{{ crucero.nombre }}</h2>
                        <p><strong>Tipo:</strong> {{ crucero.tipo.nombre|default:"No especificado" }}</p>
                        <p><strong>Código:</strong> {{ crucero.identificador }}</p>
                        <p><strong>Pasajeros:</strong> {{ crucero.capacidad_pasajeros }}</p>
                        <p><strong>Tripulación:</strong> {{ crucero.capacidad_tripulacion }}</p>
                        <p><strong>Bandera:</strong> {{ crucero.bandera }}</p>
                        <p><strong>Puerto Base:</strong> {{ crucero.puerto_base }}</p>
                        <p><strong>Estado:</strong> {{ crucero.get_estado_operativo_display }}</p>
                    </div>
                </div>
            </a>
            {% empty %}
            <div class="sin-cruceros">No hay embarcaciones registradas.</div>
            {% endfor %}
        </div>

    </div>
</body>
</html>