{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Revisión de Problemas</title>
    <link rel="stylesheet" href="{% static 'styles/styles_compras.css' %}">
    <link rel="stylesheet" href="{% static 'styles/historial_compras.css' %}">
</head>

<!-- si se usa -->
<body>
    <div class="container">

        <h1>Revisión de Problemas</h1>
        <table border="1">
            <thead>
                <tr>
                    <!-- <th>Fecha</th> -->
                    <th>Empresa</th>
                    <th>Contacto</th>
                    <th>Ubicación</th>
                    <th>Proveedor</th>
                    <th>Puerto Entrega</th>
                    <th>Presupuesto</th>
                    <th>Estado</th>
                    <th>Artículos</th>
                </tr>
            </thead>
            <tbody>
                {% for compra in compras_lote %}
                <tr class="{% if compra.get_estado_display|lower == 'exitosa' %}estado-exitosa{% elif compra.get_estado_display|lower == 'defectuosa' %}estado-defectuosa{% elif compra.get_estado_display|lower == 'cancelada' %}estado-cancelada{% endif %}">
                    <!-- <td>{{ compra.fecha|date:"Y-m-d H:i" }}</td> -->
                    <td>{{ compra.empresa_nombre }}</td>
                    <td>{{ compra.empresa_contacto }}</td>
                    <td>{{ compra.empresa_ubicacion }}</td>
                    <td>{{ compra.proveedor.name }}</td>
                    <td>{{ compra.puerto_entrega }}</td>
                    <td>${{ compra.presupuesto_lote }}</td>
                    <td>{{ compra.get_estado_display }}</td>
                    <td>
                        <a href="{% url 'compras:detalle_compra_lote' crucero_id compra.id %}?from=revision"><button style="background: #2196F3; color: white; padding: 5px 10px; border: none; border-radius: 4px;">Ver detalles</button></a>
                    </td>
                </tr>
                {% empty %}
                <tr><td colspan="10">No hay compras defectuosas.</td></tr>
                {% endfor %}
            </tbody>
        </table>

    <a href="{% url 'compras:compras' crucero_id %}"><button>Volver</button></a>
    </div>
</body>
</html>
